absl-py==2.1.0
accelerate==0.34.2
aggdraw==1.3.19
aim==3.18.1
aim-ui==3.18.1
aimrecords==0.0.7
aimrocks==0.4.0
aiobotocore==2.12.2
aiofiles==23.2.1
aiohttp==3.9.3
aioitertools==0.11.0
aiolimiter==1.1.0
aiosignal==1.3.1
alembic==1.13.1
altair==5.3.0
annotated-types==0.6.0
anyio==4.3.0
appnope @ file:///home/conda/feedstock_root/build_artifacts/appnope_1733332318622/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1733250440834/work
astunparse==1.6.3
async-timeout==4.0.3
attrs==23.2.0
backoff==2.2.1
base58==2.0.1
bcrypt==4.1.2
bitsandbytes==0.42.0
boltons @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_f63n9uulmp/croot/boltons_1677628710094/work
botocore==1.34.51
box2d-py==2.3.5
Brotli==1.1.0
brotlipy==0.7.0
cachetools==5.3.3
cattrs==24.1.2
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1734380492396/work/certifi
cffi @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_ab19r4bji3/croot/cffi_1670423206034/work
cfgv==3.4.0
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
chroma-hnswlib==0.7.3
chromadb==0.4.14
click==8.1.7
cloudpickle==3.1.1
colorama==0.4.6
coloredlogs==15.0.1
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1733502965406/work
conda @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_e0e3vbtks7/croot/conda_1696257481969/work
conda-content-trust @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_5324skqvu9/croot/conda-content-trust_1693490622873/work
conda-libmamba-solver @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_4fwc5521x8/croot/conda-libmamba-solver_1696257529422/work/src
conda-package-handling @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_fc4cx8vjhj/croot/conda-package-handling_1690999937094/work
conda_package_streaming @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_aecpaup22q/croot/conda-package-streaming_1690987978274/work
contourpy==1.2.1
cryptography @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_905z2r5rpq/croot/cryptography_1694211573866/work
cycler==0.12.1
datasets==2.21.0
debugpy @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_563_nwtkoc/croot/debugpy_1690905063850/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1733236420667/work
deprecation==2.1.0
dill==0.3.8
diskcache==5.6.3
distlib==0.3.8
dmf-lib @ git+ssh://git@github.ibm.com/arc/dmf-library.git@844a984dc6e4e9fb744f55651430619235d7213b
duckdb==0.9.1
einops==0.7.0
evaluate==0.4.0
exceptiongroup==1.2.0
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1733569351617/work
Farama-Notifications==0.0.4
fastapi==0.110.1
ffmpy==0.3.2
filelock==3.13.3
flatbuffers==24.3.25
-e git+ssh://git@github.ibm.com/IBM-Research-AI/fm-eval.git@15812bf7e0d1fa3153624ecfa89bac4e85e276a3#egg=fm_eval
fonttools==4.51.0
frozenlist==1.4.1
fsspec==2023.12.2
func_timeout==4.3.5
gast==0.6.0
gitdb==4.0.11
GitPython==3.1.37
google-auth==2.29.0
google-pasta==0.2.0
gradio==4.16.0
gradio_client==0.8.1
grpcio==1.62.1
gym==0.26.2
gym-notices==0.0.8
gymnasium==1.1.1
h11==0.14.0
h5py==3.12.1
httpcore==1.0.5
httptools==0.6.1
httpx==0.28.0
httpx-sse==0.3.1
huggingface-hub==0.29.3
humanfriendly==10.0
ibm-cos-sdk==2.12.0
ibm-cos-sdk-core==2.12.0
ibm-cos-sdk-s3transfer==2.12.0
ibm-generative-ai==2.2.0
ibm-watson-machine-learning==1.0.345
ibm_watsonx_ai==1.2.10
identify==2.5.35
idna @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_771olrhiqw/croot/idna_1666125579282/work
importlib_metadata==7.1.0
importlib_resources==6.4.0
inflate64==1.0.0
iniconfig==2.0.0
ipadic==1.0.0
ipykernel @ file:///Users/runner/miniforge3/conda-bld/ipykernel_1719845458456/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1734788142186/work
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1733300866624/work
Jinja2==3.1.3
jmespath==0.10.0
joblib==1.3.2
jsonpatch @ file:///tmp/build/80754af9/jsonpatch_1615747632069/work
jsonpointer==2.1
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1733440914442/work
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1727163409502/work
jwt==1.3.1
keras==3.8.0
kiwisolver==1.4.5
kubernetes==29.0.0
lh_eval_api @ git+ssh://git@github.ibm.com/IBM-Research-AI/lakehouse-eval-api.git@9d2babd6d017998c9cb898d4d43855f18a7a4c60
libclang==18.1.1
libmambapy @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_0bla9ohojx/croot/mamba-split_1694187773864/work/libmambapy
logzero==1.7.0
lomond==0.3.3
lxml==5.2.1
Mako==1.3.2
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.4
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1733416936468/work
mdurl==0.1.2
mecab-ko==1.0.0
mecab-ko-dic==1.0.0
mecab-python3==1.0.5
ml-dtypes==0.4.1
mmh3==4.1.0
mmhash3==3.0.1
monotonic==1.6
mpmath==1.3.0
multidict==6.0.5
multiprocess==0.70.16
multivolumefile==0.2.3
namex==0.0.8
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1733325553580/work
networkx==3.3
nltk==3.8.1
nodeenv==1.8.0
numpy==1.23.5
oauthlib==3.2.2
onnxruntime==1.17.1
opt_einsum==3.4.0
optree==0.14.0
orjson==3.10.0
overrides==7.7.0
packaging @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_6dm6d4jd_t/croot/packaging_1693575176524/work
pandas==1.5.3
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1733271261340/work
peft==0.11.1
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1733301927746/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1733327343728/work
pillow==10.3.0
platformdirs==4.2.0
pluggy @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_croot-w6jyveby/pluggy_1648109277227/work
portalocker==2.8.2
posthog==3.5.0
pre-commit==3.5.0
progressbar==2.5
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1733302527033/work
protobuf==4.24.4
psutil @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_1310b568-21f4-4cb0-b0e3-2f3d31e39728k9coaga5/croots/recipe/psutil_1656431280844/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1733302279685/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl#sha256=92c32ff62b5fd8cf325bec5ab90d7be3d2a8ca8c8a3813ff487a8d2002630d1f
pulsar-client==3.4.0
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1733569405015/work
py==1.11.0
py3nvml==0.2.7
py4j==0.10.9.7
py7zr==0.20.6
pyarrow==15.0.2
pyarrow-hotfix==0.6
pyasn1==0.6.0
pyasn1_modules==0.4.0
pybcj==1.0.2
pycosat @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_3eg8vdcs6z/croot/pycosat_1696536519213/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pycryptodomex==3.20.0
pydantic==2.6.4
pydantic_core==2.16.3
pydub==0.25.1
pygame==2.6.1
Pygments==2.17.2
pyiceberg==0.7.1
PyJWT==2.8.0
pyOpenSSL @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_b8whqav6qm/croot/pyopenssl_1690223428943/work
pyparsing==3.1.2
PyPika==0.48.9
pyppmd==1.0.0
PySocks @ file:///Users/ktietz/ci_310/pysocks_1643961536721/work
pyspark==3.5.0
pytest==7.4.2
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1733215673016/work
python-dotenv==1.0.1
python-multipart==0.0.9
pytorch-accelerated==0.1.52
pytrec-eval==0.5
pytz==2024.1
PyYAML==6.0.1
pyzmq @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_95lsut8ymz/croot/pyzmq_1734709560733/work
pyzstd==0.15.10
referencing==0.34.0
regex==2023.12.25
requests==2.32.2
requests-cache==1.2.1
requests-oauthlib==2.0.0
requirements-parser==0.9.0
responses==0.18.0
RestrictedPython==7.1
retry==0.9.2
rich==13.7.1
rouge-score==0.1.2
rpds-py==0.18.0
rsa==4.9
ruamel.yaml @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_aeh5mqcw49/croot/ruamel.yaml_1666304555976/work
ruamel.yaml.clib @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_f64xdg2rww/croot/ruamel.yaml.clib_1666302244208/work
ruff==0.3.5
s3fs==2023.12.2
sacrebleu==2.3.1
safetensors==0.4.5
schedule==1.2.2
scikit-learn==1.2.0
scipy==1.15.2
seaborn==0.13.0
segment-analytics-python==2.3.2
semantic-version==2.10.0
sentence-transformers==3.0.1
shellingham==1.5.4
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
SQLAlchemy==1.4.52
stack_data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1733569443808/work
starlette==0.37.2
strictyaml==1.7.3
swig==4.3.0
sympy==1.13.1
tabulate==0.9.0
tenacity==8.5.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow-io-gcs-filesystem==0.37.1
tensorflow-metal==1.2.0
termcolor==2.5.0
texttable==1.7.0
threadpoolctl==3.4.0
tokenizers==0.19.1
tomli==2.0.1
tomlkit==0.12.0
toolz==0.12.1
torch==2.2.2
torchvision==0.17.2
tornado @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_0axef5a0m0/croot/tornado_1733960501260/work
tqdm==4.67.1
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1733367359838/work
transformers==4.44.2
truststore @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_42mm7e6j06/croot/truststore_1695244298716/work
typer==0.12.1
types-setuptools==69.2.0.20240317
typing_extensions==4.11.0
unitxt==1.21.0
url-normalize==1.4.3
urllib3 @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_e9usuw__8i/croot/urllib3_1686166332689/work
uvicorn==0.29.0
uvloop==0.19.0
virtualenv==20.25.1
visualkeras==0.1.4
watchfiles==0.21.0
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1733231326287/work
websocket-client==1.7.0
websockets==11.0.3
Werkzeug==3.1.3
wrapt==1.16.0
xmltodict==0.13.0
xxhash==3.4.1
yarl==1.9.4
zipp==3.18.1
zstandard @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_41b3vxtask/croot/zstandard_1677013668452/work
